html {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 14pt;
}

#container {
  max-width: 36em;
  margin: 1em auto;
}

a { color: #36688d }
h1 { color: #c35d05 }
h2 { color: #f18904 }
h3 { color: #f49f05 }
h2 { color: #f3cd05 }
