:is(a, button).action-button {
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 3px;
  margin-top: 0;
  padding: 0.5em 0.75em;
  font: inherit;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;

  background-color: var(--col2, #e1ecfd);
  border-bottom: 2px solid var(--col1, #1c52a9);
  color: var(--col1, #1c52a9);
  text-shadow: 0px 1px 1px 1px #000;
}

@media (min-width:420px) {
  :is(a, button).action-button {
    padding: 1em 1.25em;
  }
}

:is(a, button).action-button:active {
  border-bottom: 0;
  margin-top: 2px;
}