@media (min-width: 768px) {
  #all-blog-list {
    column-count: 2;
    column-gap: 2em;
  }
}

@media (min-width: 1400px) {
  #all-blog-list {
    column-count: 3;
    column-gap: 3em;
  }
}

#all-blog-list h3 {
  margin-top: 0;
}

.all-blog-year-group {
  margin-bottom: 2em;

  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 0.25em;
  column-gap: 1em;
}