#projects {
  margin: 0 auto;
  width: 90%
}

@media (min-width:40em) {
  #projects {
    display: flex;
    flex-wrap: wrap
  }
}

project-item {
  margin: .25em 0
}

@media (min-width:40em) {
  project-item {
    flex: 1 0 20em;
    padding: .5em;
    margin: 1em 0
  }
}

::slotted(ul) {
  list-style-position: inside;
  margin: 0;
  padding-left: 0;
}

::slotted(ul) li {
  margin-bottom: .5em;
  list-style-type: none;
}