.hero-image {
  text-align: center;
}

.hero-image>div {
  padding: 12vh 0;
}

.hero-image h1 {
  font-size: 300%;
}

#services-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
}

.service {
  padding: 1em 1em;
  min-width: 18em;
  max-width: 24em;
  width: 30%;
  text-align: center;
  position: relative;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  gap: 1em;
}

.service>p {
  margin: 0;
}

@media (min-width: 1200px) {
  .service {
    gap: 2em;
  }
}

.service header {
  font-size: 200%;
  color: var(--col1);
}

.service p {
  font-size: 115%;
}

.dot {
  position: relative;
  width: 2em;
  height: 2em;
  font-size: 24px;
  display: inline-block;
  line-height: 1em;
  color: var(--col1);
  background-color: var(--col2);
  border-radius: 50%;
}

.dot::before {
  content: '';
  position: absolute;
  height: 0.4em;
  width: 0.4em;
  border-radius: 50%;
  background: var(--col1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 640px) {

  .dot {
    display: none;
  }

}