html {
  -webkit-text-size-adjust: 100%;
  font-family: 'Inter', sans-serif;
  color: #333;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:is(h1, h2, h3, h4, hr, p, ul, ol, table, details, summary, form):not(:first-child) {
  margin-top: 1em;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

ul,
ol {
  padding-left: revert;
}

section {
  padding: 1em 0;
}

@media (min-height: 800px) {
  section {
    padding: 3em 0;
  }
}

.alt-section {
  background-color: #f9fbfe;
}

a {
  color: #005aff;
}

a:visited {
  color: #9d00ff;
}