.post-image {
  width: 100%;
  background-size: cover;
  background-position-y: center;
  position: relative;
}

.post-image .attribution {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: #fff;
  text-shadow: 0px 1px 3px #000;
  font-size: 80%;
}

h1 {
  margin-top: 1em;
}

#post-content img {
  max-width: 100%;
}

#blog-post-page h2 a {
  color: inherit;
  font-weight: normal;
  text-decoration: none;
}

#post-content pre {
  overflow: auto;
}

#post-content pre:hover {
  overflow: visible;
}

#post-content p {
  margin-top: 1em;
}